= javascript_bundle_tag "RegistrationsEdit"
= stylesheet_bundle_tag 'RegistrationsEdit'

:javascript
  window.errorMessages = #{raw resource.errors.full_messages.to_json}
  window.minimumPasswordLength = #{@minimum_password_length}
  window.currentUser = #{raw current_user.to_json}

#registrations-app
  %registrations-edit
